hr {
    border: 0;
    clear: both;
    display: block;
    width: 98%;               
    background-color:lightgray;
    height: 1px;
}

.form-btn {
    border-style : none;
    border-radius: 0;
    width: 100%;
    height: 50px;
    font-family: Raleway;
}

.form-btn:hover, .form-btn:focus {
    outline: none !important;
}

.form-btn-link {
    display: block;
    color: white;
}

.form-btn-link:link, .form-btn-link:visited, .form-btn-link:hover, .form-btn-link:active {
    text-decoration: none;
    color: white;
}

.form-submit-positive-btn {
    border-style: none;
    border-radius: 0;
    background-color: #2e79f2;
}

#user-button {
    background-color: #2eadf7;
}

#confirm-order-button {
    background-color: #39db43;
}

#promotion-send-button {
    background-color: #ffb20c;
}