@font-face {
    font-family: "Coolvetica";
    src: url("Coolvetica.ttf");
}

body {
    font-family: "Coolvetica";
}

.navbar {
    background: black;
}

.navbar-brand {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.active-home {
    color: #3b95ce;
}

.active-manage {
    color: #26bdb2;
}

.passive {
    color: white;
}