@font-face {
    font-family: "Coolvetica";
    src: url("coolvetica.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0px;
    border-bottom: 0px;
}

.navbar-brand {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.active-home {
    color: #3b95ce;
}

.active-manage {
    color: #26bdb2;
}

.passive {
    color: white;
}